<% if (!user) { %>
  <div class="hero-unit">
    <h1>歡迎來到 Iatblog</h1>
    <p>Iatblog 是一個基於 Node.js 的微博系統。</p>
    <p>
      <a class="btn btn-primary btn-large" href="/login">登錄</a>
      <a class="btn btn-large" href="/reg">立即註冊</a>
    </p>
  </div>
<% } else { %>
  <%- partial('say') %> 
<% } %>
<%- partial('posts') %> 
